body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #292c34;
}



#container {
    text-align: center;
    background: #2e313d;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
}


button {
    padding: 10px 20px;
    background-color: #bfa42c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


button:hover {
    padding: 10px 20px;
    background-color: #d9ba32;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#buzzer {
    background-color: #bfa42c;
    border: none;
    color: white;
    padding: 110px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
}

#buzzer:hover {
    background-color: #d9ba32;
    border: none;
    color: white;
    padding: 110px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}


#in-game {
    display: none;
}

#type-answer {
    display: none;
}